{{ define "meta_tags" }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ .Title }}">

{{ if .Params.image }}
{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
<meta property="og:image:url" content="{{ . | absURL }}">
{{ end }}
{{ else }}
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
<meta property="og:image:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
{{ end }}

{{- if .Description }}
<meta property="og:description" content="{{ .Description }}" />
<meta property="twitter:description" content="{{ .Description }}" />
{{- else if .Summary }}
<meta property="og:description" content="{{ .Summary }}" />
<meta property="twitter:description" content="{{ .Summary }}" />
{{- else if .Site.Params.description }}
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta property="twitter:description" content="{{ .Site.Params.description }}" />
{{- end }}

{{ end }}
{{ define "main" }}
<div class="flex flex-col px-5 py-5 items-center">
    <div class="flex sm:flex-row flex-col-reverse py-2">
        <div class="w-full lg:max-w-lg text-center">
            <img class="object-cover object-center rounded" src="/{{ .Params.image_url }}">
        </div>
        <div
            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left justify-center items-center text-center px-5">
            <h1 class="title-font sm:text-4xl text-3xl lg:text-5xl mb-4 font-medium text-gray-900">
                {{.Title}}
            </h1>
            <p class="mb-8 leading-relaxed lg:text-xl">
                {{ .Params.description }}
            </p>
        </div>
    </div>
    <div class="prose md:prose-lg lg:prose-xl max-w-none py-1">{{.Content}}</div>
</div>

{{ end }}