<div class="not-prose p-5 mx-auto">
    <div class="flex flex-col">
        <div class="h-1 bg-gray-200 rounded overflow-hidden mt-6">
            <div class="w-24 h-full bg-green-500"></div>
        </div>
        <div class="flex flex-col text-left w-full mb-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
                Em Breve
            </h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                Preencha abaixo seu nome e email caso deseje ser informado sobre o lançamento.
            </p>
        </div>
        <form id="soon">
            <div
                class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                <div class="relative flex-grow w-full">
                    <label for="full-name" class="leading-7 text-sm text-gray-600">Nome</label>
                    <input type="text" id="name" name="name"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-transparent focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <div class="relative flex-grow w-full">
                    <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                    <input type="email" id="email" name="email"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-transparent focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
            </div>
            <input type="hidden" id="key" name="key" value="{{ .Get "key" }}" />
            <div class="py-5 text-center">
                <button type="submit"
                    class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">
                    Avise-me
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    window.addEventListener("load", () => {
        const form = document.getElementById("soon");
        function sendData() {
            const XHR = new XMLHttpRequest();
            const FD = new FormData(form);

            XHR.addEventListener("load", (event) => {
                const response = JSON.parse(event.target.responseText);

                if (response && response.result == "success") {
                    alert("Sua mensagem foi enviada, em breve retornaremos!");
                } else {
                    alert("Erro ao enviar a mensagem, tente novamente.");
                }
            });
            // Define what happens in case of error
            XHR.addEventListener("error", (event) => {
                alert("Erro ao enviar a mensagem, tente novamente.");
            });

            XHR.open("POST", "https://script.google.com/macros/s/AKfycbwzcfoiF8Hv25Iv80o2YxDASoKgyVb31vPEHkj-Yx_AAd_5CdMreqs1oGJypcVstBY/exec");
            XHR.send(FD);
        }

        // Add 'submit' event handler
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            sendData();
        });
    });
</script>